@font-face {
    font-family: PressStart2P;
    src: url(../fonts/PressStart2P.ttf);
}
.pressStartFont {
  font-family: PressStart2P;
  color: black
}

.introDiv {
  font-family: PressStart2P;
  color: black;
  font-size: 4em;
  text-shadow: -2px 0 0 #fdff2a,
    -4px 0 0 #df4a42,
    2px 0 0 #91fcfe,
    4px 0 0 #4405fc;
  animation: blink 1s infinite;
  display: block
}
 
 @keyframes blink {
   0% {color: black; display: none}
   100% {color: red; display: block}
 }